* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../assets/font/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/font/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/font/Roboto-Bold.ttf");
}
.sello-pirqa {
  text-align: right;
}

.full-height-100 {
  height: 100vh;
}

.padding-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padding-top-bottom-seccion {
  padding-top: 7em;
  padding-bottom: 7em;
}

.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt {
  color: white;
  font-family: "Roboto-Light";
  font-size: 50px;
}

.boton {
  background-color: #f8b529;
  border-radius: 5px;
  border-style: none;
  padding: 2px 10px 6px;
  font-size: 1.8em;
}

.titulo {
  font-size: 100px;
  color: white;
}

.bot-menu {
  float: right;
}

.home-logo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img-home.jpg);
  background-size: cover;
}

.slider-home {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.slider-home .tit-slide {
  color: white;
  font-size: 5em;
  line-height: 1.2em;
}

.slider-pirqa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.slide1 {
  background-image: url(../assets/slide-01.jpg);
  background-position: center center;
  background-size: cover;
}

.cont-slide {
  position: absolute;
  margin-left: 10%;
}

.tit-slide-2 {
  color: black;
  font-size: 1em;
  line-height: 1.2em;
}

.seccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-scroll-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letra-capital {
  font-size: 5em;
}

.scroll-2 {
  background-color: blue;
}

.scroll-3 {
  background-image: url(../assets/img-seccion-2.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.scroll-3 .tit-slide {
  font-size: 4em;
  color: white;
  line-height: 1.2em;
}
.scroll-3 .desc {
  font-size: 1.2em;
  color: white;
  line-height: 1.2em;
}

.scroll-4 p {
  color: black;
  font-size: 2em;
  line-height: 1.3em;
}

.cont-scroll-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-5 {
  padding: 2em 0;
}

.cont-scroll-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cont-scroll-5 p {
  font-size: 1.5em;
  line-height: 1.3em;
}

.scroll-6 {
  background-image: url(../assets/back-seccion-6.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: white;
}
.scroll-6 .tit-slide {
  font-size: 4.3em;
  line-height: 1em;
}
.scroll-6 p {
  font-size: 1.1em;
}

.scroll-7 {
  height: 65px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.scroll-8 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f8b529;
  background-image: url(../assets/back-form-contacto.jpg);
  background-size: cover;
}
.scroll-8 .tit-slide {
  font-size: 2.2em;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  line-height: 1.2em;
}
.scroll-8 .tit {
  font-size: 1.1em;
  margin: 20px 0;
}
.scroll-8 .btn {
  margin-top: 2em;
  color: #f8b529 !important;
}
.scroll-8 .logo-travel-contacto {
  margin: 4em 0 0 3em;
}

.form-control-pirqa {
  background: none !important;
  background-color: none !important;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}

footer .copyright-footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
footer .logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 480px) {
  .scroll-7 {
    display: none;
  }

  .slide1 {
    background-image: url(../assets/slide-01-mob.jpg);
    background-position: center center;
    background-size: cover;
  }

  .slider-home .tit-slide {
    font-size: 2.6em;
    line-height: 1.1em;
  }

  .scroll-3 {
    height: 100vh;
  }
  .scroll-3 .tit-slide {
    font-size: 2.7em;
  }
  .scroll-3 .desc {
    font-size: 1em;
    line-height: 1.5em;
  }

  .cont-scroll-4 p {
    font-size: 1.2em;
  }

  .padding-top-bottom-seccion {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .sello-pirqa {
    text-align: center;
    margin-bottom: 30px;
  }

  .cont-scroll-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .cont-scroll-5 p {
    font-size: 1.1em;
    line-height: 1.3em;
  }

  .scroll-6 .tit-slide {
    font-size: 2.7em;
    line-height: 1.1em;
  }

  .scroll-8 {
    height: 100%;
    padding: 20px 0;
  }
  .scroll-8 .tit-slide {
    font-size: 2em;
  }
  .scroll-8 .logo-travel-contacto {
    margin: 0;
  }
  .scroll-8 .form-control-pirqa {
    width: 100%;
  }

  footer {
    height: 230px;
  }
  footer .logo-footer {
    align-items: center;
  }
  footer .copyright-footer {
    height: 50px;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
