@font-face {
    font-family: "Roboto-Thin";
    src: url("../assets/font/Roboto-Thin.ttf");
}


@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/font/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../assets/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/font/Roboto-Bold.ttf");
}




$Roboto-Light: "Roboto-Light";
$Roboto-Regular: "Roboto-Regular";
$Roboto-Bold: "Roboto-Bold";
$Roboto-Thin: "Roboto-Thin";


$xxxl:100px;
$xxl: 50px;
$xl: 40px;
$l: 30px;
$m: 20px;
$s: 16px;





